@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #13131a;
}

::-webkit-scrollbar-thumb {
  background: #2a2a35;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a45;
}
